@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1>Bowlers</h1>
    @*<table class="table table-sm table bordered table-hover"></table>
        <thead>
            <tr>
                <th>Bowler ID</th>
                <th
            </tr>
        </thead>*@

<ul>
    @foreach (var b in Model)
    {
        <li>@b.BowlerID</li>
        <li>@b.BowlerFirstName @b.BowlerMiddleInit. @b.BowlerLastName</li>
        <li>@b.BowlerAddress</li>
        <li>@b.BowlerCity</li>
        <li>@b.BowlerState</li>
        <li>@b.BowlerZip</li>
        <li>@b.BowlerPhoneNumber</li>
    }
</ul>